/*
* @Author: 17938
* @Date:   2019-09-15 15:22:43
* @Last Modified by:   hp
* @Last Modified time: 2019-09-16 20:43:39
*/
.big-box{
	width: 100%;
	padding-left: 120px;
}
.banner{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 300px;
	background: url('../images/imagesabout/014.jpg') no-repeat center;
}
.title-top{
	width: 140px;
	font-size: 27px;
	color: white;
	margin: 92px auto 0px;
	text-align: center;
	overflow: hidden;
}
.title-top p{
	margin-top: 10px;
	font-size: 14px;
	margin-bottom: 52px;
}
.down-img{
    animation: down 2s linear infinite;
}
.banner-small{
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.banner-small ul li{
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #c1cbec;
	border-radius: 50%;
}
@keyframes down{
	0%{
		opacity: 1;
		margin-top: 0px;
	}
	50%{
		opacity: 0;
		margin-top: -40px;
	}
	100%{
		opacity: 1;
		margin-top: 0px;
	}
}
@media(max-width: 1199px){
	.big-box{
		padding-left: 0px;
	}
}
/* 主要内容 */
.new-img{
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
	padding-bottom: 58px;
}
.word-new{
	float: left;
	border-radius: 10px;
	width: 100%;
	margin-top: 20px;
}
.small-new{
	width: 284px;
	height: 308px;
	margin: 0px auto;
	position: relative;
}
.word-new .small-img{
    position: absolute;
    top: 6px;
    left: 85px;
    width: 112px;
    border-radius: 50%;
}
.small-new:hover .small-img{
	transition: 0.5s;
	transform: scale(0.8);
}
.small-new:hover a{
	color: #fe7121;
}
.word-new a{
	position: absolute;
	top: 140px;
	left: 50%;
	transform: translateX(-50%);
	color: #565656;
	font-size: 16px;
	width: 80%;
	text-align: center;
}
.word-new span{
	position: absolute;
    top: 168px;
    left: 50%;
	transform: translateX(-50%);
	font-size: 12px;
	color: #c2c2c2;
}
.word-new p{
	position: absolute;
	top: 206px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
	color: #c2c2c2;
	width: 90%;
	text-align: center;
}
.small-new:hover p{
	color: #888888;
}
.big-box-new{
	position: relative;
	width: 100%;
	overflow: hidden;
	opacity: 0;
}
@media(min-width: 768px){
	.new-img{
		margin-top: 70px;
		padding-bottom: 110px;
	}
	.word-new{
		width: 50%;
	}
}
@media(min-width: 960px){
	.word-new{
		width: 33.3333%;
	}
}
/* 底部 */
.footer{
	width: 100%;
	background-color: #131519;
}
.footer-word{
	width: 534px;
	margin: 0px auto;
}
.footer-word p{
	line-height: 60px;
	font-size: 14px;
	color: #696a6b;
	text-align: center;
}
@media(max-width: 540px){
	.footer-word{
	width: 90%;
	margin: 0px auto;
   }
   .footer-word p{
   	line-height: 25px;
   }

}
